.content-banner {
  margin: auto;
}

app-json-path-select {
  width: 94%;
  margin-top: -20px;
}

:host ::ng-deep .app-ace-editor {
  min-height: 100px !important;
}

.app-ace-editor {
  border: 2px solid #e7e7e7;
  width: 93%;
  min-height: 100px;
}

.slim {
  height: 20px !important;
}
