<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/">
        <cds-icon shape="details"></cds-icon>
        <span class="title">{{title}}</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/" class="nav-link">
        <span>JSON Path</span>
      </a>
      <a href="/config-dsl" class="nav-link">
        <span>Config DSL</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
